:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(22, 22, 22, 0.87);
  background-color: rgb(244, 244, 244);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  position: relative;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

.bgText {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: rgb(171, 169, 169);
}

.book {
  color: rgba(84, 84, 84, 0.87);
}

/* MAINSCREEN CSS */

.mainScreen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow-y: scroll;
}

.fileList {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.fileDisplay {
  background-color: rgb(255, 255, 255);
  border: 2px solid #000000; /* Blue border around each file item */
  border-radius: 1rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  min-height: 20rem;
  max-width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pdfIcon {
  font-size: 10rem;
  color: rgb(64, 64, 64);
}

.pdfText {
  text-align: center;
  padding: 1rem;
  word-wrap: break-word;
}

/* MENU ICON CSS */

.menuIcon {
  position: fixed;
  z-index: 4;
  padding: 1rem;
}

.icon-large {
  font-size: 1.7rem;
  color: black;
}

.menuButton {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
}

/* SIDEBAR CSS */

.sidebarBG {
  position: absolute;
  z-index: 3;
  background-color: rgb(249, 249, 249);
  height: 100vh;
  width: 20rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.searchParameters {
  margin-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
}

#searchBar {
  height: 2rem;
  padding-left: 0.5rem;
  background-color: rgb(247, 247, 247);
  color: black;
  border-radius: 0.4rem;
  font-size: 1rem;
}

.checkBoxDiv {
  margin-top: 1rem;
}

.checkbox {
  padding: 0.2rem;
}

input[type="checkbox"] {
  width: 2rem;
  border-radius: 20rem;
  accent-color: white;
  background-color: white;
  cursor: pointer;
}

.documentSection {
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.fileButtons {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  cursor: pointer;
}

.fileIcon {
  font-size: 1.7rem;
  color: rgb(93, 93, 93);
  padding-right: 1rem;
}

.documentSectionDiv {
  display: flex;
  padding: 0.3rem;
}
